@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;

}
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}
.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}
.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
.vast-shadow-regular {
  font-family: "Vast Shadow", serif;
  font-weight: 400;
  font-style: normal;
}


/* Add your other global styles here */
html {
  background-color: #EEEEEE; /* Sfondo nero per tutto il sito */
  color: #373A40; /* Colore del testo arancione per tutto il sito */
  font-family: 'Fira Code', monospace; /* Manteniamo 'Fira Code' come font principale */
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}


/* h1 {
  font-family: 'Courier New', Courier, monospace; 
  font-size: 1.5rem; 
  color: #F8F4E1; 
  padding: 10px; 
} */

/* global.css */

.title {
  font-family: 'Vast Shadow', normal;
  color: #373A40;
}

.subtitle {
  font-family: 'Vast Shadow', sans-serif;
  color: #373A40;
}


hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

/* nav styles */

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #686D76;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #686D76;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

a {
  color: #686D76; /* Colore del testo giallo per i link */
  text-decoration: none; /* Opzionale: rimuove il sottolineato dai link */
}

a:hover,
a:focus {
  color: #DC5F00; /* Colore del testo per hover e focus, un giallo più scuro */
}

footer {
  color: #373A40; /* Testo giallo */
  /* display: flex; */
  gap: 1rem;
  /* margin-top: 2rem; */
  padding: 1rem;
}

footer a {
  color: #DC5F00; /* Colore del testo giallo per i link */
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: #373A40; /* Colore del testo per hover e focus, un giallo più scuro */
}

footer .social {
  background-color: #373A40; /* Sfondo arancione, come il resto del footer */
}

/* Assicurati che gli elementi all'interno di .social abbiano colori coerenti */
footer .social a {
  color: #ffdd00; /* Testo giallo */
  text-decoration: none;
}

footer .social a:hover,
footer .social a:focus {
  color: #cca700; /* Colore del testo per hover e focus, un giallo più scuro */
}


.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto; /* Adjust the margin as needed */
  padding: 20px;
  max-width: 800px; /* Adjust the max-width as needed */
  background-color: #373A40; /* Black background */
  color: #EEEEEE; /* Yellow text */
  border-radius: 10px; /* Optional: Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add shadow for better visibility */
}


/* Palette di colori */
/* - marroni: https://colorhunt.co/palette/f8f4e1af8f6f74512d543310 */
/* https://colorhunt.co/palette/eeeeee686d76373a40dc5f00 */