---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';


const pageTitle = "About Me";

const identity = {
  firstName: "Federico",
  country: "Bottarelli",
  occupation: "DataOps and Data scientist",
  hobbies: ["History", "Electronics", "Art"],    
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs","Git",
    "R",
    "MySQL",
    "SQL",
    "Kafka",
    "Nifi",
    "Ansible",
    "Terraform",
    "AWS",
    "Cloudformation",
    "LangChain",
    "Machine Learning",
    "Statistics",
    "Deep Learning",
    "MongoDB",
    "PostgreSQL",
    "Python",
    "Denodo",
    "Cloudera",
    "Hadoop",
    "Linux",
    "Docker",
    "Ignite",];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "white";
const fontWeight = "bold";
const textCase = "lowercase";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <style define:vars={{skillColor, fontWeight, textCase}}>
		h1 {
		.skill {
			color: var(--skillColor);
			font-weight: var(--fontWeight);
   			text-transform: var(--textCase);
  		}
	</style>
  </head>

  <body>
	<Navigation />
	
	<h1>{pageTitle}</h1>
	
	<p>Welcome to my page! I'm Federico, a Data Science, DataOps, and AI specialist with a deep passion for data and its applications to real-world problems. I'm currently pursuing a Data Science master's degree at Padua University and working as a Junior DataOps Engineer for an Italian company.</p>
	
	<p>My expertise ranges from classical statistical analysis to advanced technology-based approaches like AI, always grounded in a strong statistical and mathematical foundation. I am proficient with computers and modern technologies, with solid coding skills in Python and R. I am also constantly seeking opportunities to learn new tools and technologies.</p>
	
	<p>Here are a few facts about me:</p>
	
	<p>My skills include:</p>
	<ul class="skills-list">
	  {skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
	
	
	<Footer />
	
	<!-- Scripts -->
	<script>
	  import "../scripts/menu.js";
	</script>
  </body>
  
</html>


<style>
	.skills-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.skill {
  flex: 1 1 calc(25% - 10px); /* Per 4 colonne, cambia 25% a 33.33% per 3 colonne */
  margin: 5px;
  box-sizing: border-box;
}

/* Aggiungi uno stile per le dimensioni del contenuto per fare in modo che si adatti bene */
.skills-list .skill {
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

</style>

