---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';


const pageTitle = "About Me";

const identity = {
  firstName: "Federico",
  country: "Bottarelli",
  occupation: "DataOps and Data scientist",
  hobbies: ["History", "Electronics", "Art"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "lowercase";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <style define:vars={{skillColor, fontWeight, textCase}}>
		h1 {
		  color: rgb(255, 170, 33);
		  font-size: 3rem;
		}
		.skill {
			color: var(--skillColor);
			font-weight: var(--fontWeight);
   			text-transform: var(--textCase);
  		}
	</style>
  </head>

  <body>
	<Navigation />
    <h1>{pageTitle}</h1>

    <p>Data Science, DataOps, AI Specialist Welcome! I'm Federico, and I have a deep passion for everything related to data and their application in real-world problems. Currently, I'm pursuing a Data Science master's degree at Padua University. Alongside my studies, I'm working as a Junior DataOps Engineer for an Italian company. From classical statistical analysis to more technology-based approaches like using AI, always with a statistical and mathematical approach at the core. I'm fast and experienced with computers and modern technologies. I have a good base of coding skills, particularly in Python and R, but I continuously seek opportunities to familiarize myself with new tools and technologies. </p>

	<p>Here are a few facts about me:</p>

	<p>My skills are:</p>
	<ul>
	  {skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
	
	<Footer />
	<!-- Scripts -->
	<script>
		import "../scripts/menu.js";
	</script>
  </body>
</html>

